@model MediaTracker.Models.ViewModels.Books.IndexViewModel

@{
    if (!Model.NoBooks)
    {
        var books = Model.Books;
        foreach (Book book in books)
        {
            <div class="row">
                <div class="col-sm-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                @book.Title
                            </div>
                            <p class="card-text">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-danger">
            No books found!
        </div>
    }
}
<p>
    Can't find your (version of a) book <a asp-controller="Books" asp-action="Add">Add it to our database!</a>
</p>